apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-span-generator
  namespace: load-test
  labels:
    app: python-span-generator
    odigos-target: "true"
spec:
  replicas: 4
  selector:
    matchLabels:
      app: python-span-generator
      odigos-target: "true"
  template:
    metadata:
      labels:
        app: python-span-generator
        odigos-target: "true"
    spec:
      terminationGracePeriodSeconds: 0
      containers:
        - name: python-span-generator
          image: public.ecr.aws/odigos/python-span-gen:v0.0.1
          imagePullPolicy: Always
          env:
            - name: OTEL_SERVICE_NAME
              value: python-span-generator
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: service.name=python-span-generator,service.version=v1.0.0
            - name: SPANS_PER_SEC
              value: "2000"                                        
            - name: SPAN_BYTES
              value: "2000"
          resources:
            requests:
              cpu: "1000m"
              memory: "512Mi"
            limits:
              cpu: "2000m"
              memory: "3Gi"
          livenessProbe:
            exec:
              command:
                - pgrep
                - python
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - pgrep
                - python
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: python-span-generator-service
  namespace: load-test
  labels:
    app: python-span-generator
spec:
  selector:
    app: python-span-generator
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
