.idea
dist/
node_modules
.DS_Store
go.work.sum
go.work
cli/odigos
.venv
**/__pycache__/
**/*.pyc
serving-certs/
**/.tools/
**/LICENSES
/odigos
gha-creds-*.json
artifacts/
/preflight*
.env
.yalc
yalc.lock

**.tfstate
**.tfstate.backup
**.terraform**

*.log
*.logs

common/bin
# CLI embedded Helm charts (generated during build)
cli/pkg/helm/embedded/*.tgz
