apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-scheduler
rules:
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
      - destinations
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/finalizers
      - destinations/finalizers
    verbs:
      - update
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/status
      - destinations/status
    verbs:
      - get
      - patch
      - update
