apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-scheduler
  namespace: '{{ .Release.Namespace }}'
  labels: 
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - configmaps
    resourceNames:
      - effective-config
      - odigos-deployment
    verbs:
      - patch
      - create
      - update
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
      - create
      - patch
      - update
      - watch
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/status
    verbs:
      - get
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationrules
      - processors
    verbs:
      - get
      - list
      - watch
      - patch
      - delete
      - create
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - update
