apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-scheduler
  namespace: '{{ .Release.Namespace }}'
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - configmaps
    resourceNames:
      - effective-config
      - odigos-deployment
      - odigos-go-offsets
    verbs:
      - patch
      - create
      - update
  # migration from the old odigos-config file - this can be removed once we are confident that the old config have been deleted
  - apiGroups:
      - ''
    resources:
      - configmaps
    resourceNames:
      - odigos-config
    verbs:
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
      - create
      - patch
      - update
      - watch
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/status
    verbs:
      - get
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationrules
      - processors
      - actions
    verbs:
      - get
      - list
      - watch
      - patch
      - delete
      - create
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - 'batch'
    resources:
      - cronjobs
    resourceNames:
      - 'odigos-go-offsets-updater'
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - 'batch'
    resources:
      - 'jobs'
    verbs:
      - 'create'
  - apiGroups:
      - 'apps'
    resources:
      - 'daemonsets'
    resourceNames:
      - 'odiglet'
    verbs:
      - 'patch'
  - apiGroups:
      - 'apps'
    resources:
      - 'deployments'
    resourceNames:
      - {{ .Values.scheduler.deploymentName | default "odigos-scheduler" | quote }}
    verbs:
      - 'get'
      - 'list'
      - 'watch'
  - apiGroups:
      - 'odigos.io'
    resources:
      - 'destinations'
    verbs:
      - 'get'
      - 'list'
      - 'watch'
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - 'apps'
    resources:
      - deployments/finalizers
    verbs:
      - update
{{- end }}
