apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cleanup-role
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: "true"
rules:
# we check installation method using odigos-deployment because when using helm we 
# need to explicitly delete the odigos-config resource.
# This is necessary because it has a Helm hook annotation and is not managed by Helm directly.
# For more context, see the implementation in /cli/cmd/uninstall.go.
- apiGroups: [""]
  resources: ["configmaps"]
  resourceNames: ["odigos-deployment"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["configmaps"]
  resourceNames: ["odigos-config"]
  verbs: ["delete"]