apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odiglet
  namespace: odigos-system
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["pods/status"]
    verbs: ["get", "update", "patch"]
