apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: odigos-ui
  labels:
    odigos.io/system-object: 'true'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: odigos-ui
subjects:
  - kind: ServiceAccount
    name: odigos-ui
    namespace: {{ .Release.Namespace }}
