apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-ui
rules:
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - get
      - list
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - services
      - pods
    verbs:
      - get
      - list
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
      - instrumentationinstances
    verbs:
      - get
      - list
  - apiGroups:
      - odigos.io
    resources:
      - sources
    verbs:
      - get
      - list
      - create
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
      - instrumentationinstances
    verbs:
      - watch
