apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-ui
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - patch
      {{- end }}
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
  - apiGroups:
      - batch
    resources:
      - cronjobs
    verbs:
      - get
      - list
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - apps.openshift.io
    resources:
      - deploymentconfigs
    verbs:
      - get
      - list
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
{{- end }}
  - apiGroups:
      - argoproj.io
    resources:
      - rollouts
    verbs:
      - get
      - list
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - delete
      {{- end }}
  # odigos.io CRDs (cluster-wide access for cross-namespace resources)
  - apiGroups:
      - odigos.io
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - patch
      - create
      - delete
      {{- end }}
  # actions.odigos.io CRDs (cluster-wide access)
  - apiGroups:
      - actions.odigos.io
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - patch
      - create
      - delete
      {{- end }}
