apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-ui
rules:
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - get
      - list
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - instrumentedapplications
      - instrumentationinstances
      - instrumentationconfigs
    verbs:
      - get
      - list
  - apiGroups:
      - odigos.io
    resources:
      - instrumentedapplications
      - instrumentationinstances
    verbs:
      - watch
