apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-ui
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - get
      - list
      {{- if ne .Values.ui.uiMode "readonly" }}
      - patch
      {{- end }}
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
      - instrumentationinstances
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - sources
    verbs:
      - get
      - list
      {{- if ne .Values.ui.uiMode "readonly" }}
      - patch
      - create
      - delete
      {{- end }}
