apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-ui
  namespace: '{{ .Release.Namespace }}'
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
  {{- if or (ne .Values.ui.uiMode "readonly") (ne .Values.centralProxy.centralBackendURL "") }}
      - update
      - patch
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - create
      - patch
      - update
      - delete
  {{- end }}
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - get
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationrules
      - destinations
    verbs:
      - get
      - list
      {{- if or (ne .Values.ui.uiMode "readonly") (ne .Values.centralProxy.centralBackendURL "") }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  - apiGroups:
      - odigos.io
    resources:
      - destinations
    verbs:
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
  - apiGroups:
      - odigos.io
    resources:
      - 'actions'
    verbs:
      - get
      - list
      {{- if or (ne .Values.ui.uiMode "readonly") (ne .Values.centralProxy.centralBackendURL "") }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  # Permissions for pauseOdigos mutation
  {{- if or (ne .Values.ui.uiMode "readonly") (ne .Values.centralProxy.centralBackendURL "") }}
  - apiGroups:
      - apps
    resources:
      - deployments/scale
    resourceNames:
      - odigos-instrumentor
    verbs: ["get", "update", "patch"]
  - apiGroups:
      - apps
    resources:
      - daemonsets
    resourceNames:
      - odiglet
    verbs: ["get", "update", "patch"]
  - apiGroups:
      - ''
    resources:
      - pods
    verbs: ["list", "delete"]
  {{- end }}
