apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-ui
  namespace: '{{ .Release.Namespace }}'
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  {{- if include "odigos.ui.requiresWritePermissions" . }}
      - create
      - update
      - patch
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  {{- end }}
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - get
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationrules
      - destinations
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  - apiGroups:
      - odigos.io
    resources:
      - destinations
    verbs:
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - 'actions'
    verbs:
      - get
      - list
      - watch
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  # Permissions for pauseOdigos mutation
  - apiGroups:
      - apps
    resources:
      - deployments/scale
    resourceNames:
      - odigos-instrumentor
    verbs:
      - get
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
  - apiGroups:
      - apps
    resources:
      - daemonsets
    resourceNames:
      - odiglet
    verbs:
      - get
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - update
      - patch
      {{- end }}
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - get
      - list
      {{- if include "odigos.ui.requiresWritePermissions" . }}
      - delete
      {{- end }}
