apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-ui
  namespace: '{{ .Release.Namespace }}'
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      {{- if .Values.ui.uiMode != "readonly" }}
      - create
      - patch
      - update
      {{- end }}
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationrules
      - destinations
    verbs:
      - get
      - list
      {{- if .Values.ui.uiMode != "readonly" }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  - apiGroups:
      - odigos.io
    resources:
      - destinations
    verbs:
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
  - apiGroups:
      - actions.odigos.io
    resources:
      - '*'
    verbs:
      - get
      - list
      {{- if .Values.ui.uiMode != "readonly" }}
      - create
      - patch
      - update
      - delete
      {{- end }}
