{{- if (include "odigos.secretExists" .) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: central-backend
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get"]
{{- end }}


