{{- if (include "odigos.secretExists" .) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "odigos-central" }}
{{- $onPremToken := "" }}
{{- if .Values.onPremToken }}
  {{- /* User explicitly provided a token - use it (allows token updates on upgrade) */}}
  {{- $onPremToken = .Values.onPremToken }}
{{- else if $existingSecret }}
  {{- /* No new token provided - reuse existing token to preserve across upgrades */}}
  {{- $onPremToken = index $existingSecret.data "ODIGOS_ONPREM_TOKEN" | b64dec }}
{{- end }}
{{- if $onPremToken }}
apiVersion: v1
kind: Secret
metadata:
  name: odigos-central
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: "true"
type: Opaque
stringData:
  ODIGOS_ONPREM_TOKEN: {{ $onPremToken | quote }}
{{- end }}
{{- end }}
