opentelemetry-distro==0.32b0
# We don't use the distro[otlp] option which automatically includes exporters since gRPC is not appropriate for
# injected auto-instrumentation, where it has a strict dependency on the OS / Python version the artifact is built for.
opentelemetry-exporter-otlp-proto-http==1.12.0rc2

opentelemetry-propagator-b3==1.12.0rc2
opentelemetry-propagator-jaeger==1.12.0rc2
opentelemetry-propagator-aws-xray==1.0.1

opentelemetry-instrumentation==0.32b0
opentelemetry-propagator-ot-trace==0.32b0

# Copied in from https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation
# except for aws-lambda
opentelemetry-instrumentation-aiohttp-client==0.32b0
opentelemetry-instrumentation-aiopg==0.32b0
opentelemetry-instrumentation-asgi==0.32b0
opentelemetry-instrumentation-asyncpg==0.32b0
opentelemetry-instrumentation-boto==0.32b0
opentelemetry-instrumentation-botocore==0.32b0
opentelemetry-instrumentation-celery==0.32b0
opentelemetry-instrumentation-dbapi==0.32b0
opentelemetry-instrumentation-django==0.32b0
opentelemetry-instrumentation-elasticsearch==0.32b0
opentelemetry-instrumentation-falcon==0.32b0
opentelemetry-instrumentation-fastapi==0.32b0
opentelemetry-instrumentation-flask==0.32b0
opentelemetry-instrumentation-grpc==0.32b0
opentelemetry-instrumentation-httpx==0.32b0
opentelemetry-instrumentation-jinja2==0.32b0
opentelemetry-instrumentation-kafka-python==0.32b0
opentelemetry-instrumentation-logging==0.32b0
opentelemetry-instrumentation-mysql==0.32b0
opentelemetry-instrumentation-pika==0.32b0
opentelemetry-instrumentation-psycopg2==0.32b0
opentelemetry-instrumentation-pymemcache==0.32b0
opentelemetry-instrumentation-pymongo==0.32b0
opentelemetry-instrumentation-pymysql==0.32b0
opentelemetry-instrumentation-pyramid==0.32b0
opentelemetry-instrumentation-redis==0.32b0
opentelemetry-instrumentation-requests==0.32b0
opentelemetry-instrumentation-sklearn==0.32b0
opentelemetry-instrumentation-sqlalchemy==0.32b0
opentelemetry-instrumentation-sqlite3==0.32b0
opentelemetry-instrumentation-starlette==0.32b0
opentelemetry-instrumentation-tornado==0.32b0
opentelemetry-instrumentation-urllib==0.32b0
opentelemetry-instrumentation-urllib3==0.32b0
opentelemetry-instrumentation-wsgi==0.32b0
