apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-leader-election-role
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: 'true'
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
