apiVersion: v1
kind: ConfigMap
metadata:
  name: odigos-deployment
  namespace: "{{ .Release.Namespace }}"
  labels:
    odigos.io/system-object: "true"
data:
  ODIGOS_VERSION: "{{ .Values.image.tag | default .Chart.AppVersion }}"
  ODIGOS_TIER: '{{- if include "odigos.secretExists" . }}onprem{{- else }}community{{- end }}'
  installation-method: helm
  odigos-deployment-id: "{{ uuidv4 }}"
