apiVersion: v1
kind: ConfigMap
metadata:
  name: odigos-config
  namespace: '{{ .Release.Namespace }}'
  annotations:
    'helm.sh/hook': post-install,post-upgrade
  labels:
    odigos.io/config: '1'
    odigos.io/system-object: 'true'
data:
  config.yaml: |
    configVersion: 1
    {{- if .Values.clusterName }}
    clusterName: {{ .Values.clusterName }}
    {{- end }}
    {{- if .Values.centralProxy.centralBackendURL }}
    centralBackendURL: {{ .Values.centralProxy.centralBackendURL }}
    {{- end }}
    imagePrefix: {{ template "utils.imagePrefix" (dict "Values" .Values) }}
    {{- if .Values.ui.uiMode }}
    uiMode: {{ .Values.ui.uiMode }}
    {{- end }}
    {{- if .Values.ui.uiPaginationLimit }}
    uiPaginationLimit: {{ .Values.ui.uiPaginationLimit }}
    {{- end }}
    {{- if .Values.ui.centralBackendURL }}
    centralBackendURL: {{ .Values.ui.centralBackendURL }}
    {{- end }}
    {{- if .Values.collectorGateway }}
    collectorGateway:
      {{- with .Values.collectorGateway.minReplicas }}
      MinReplicas: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.maxReplicas }}
      MaxReplicas: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.requestMemoryMiB }}
      requestMemoryMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.limitMemoryMiB }}
      limitMemoryMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.requestCPUm }}
      requestCPUm: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.limitCPUm }}
      limitCPUm: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.memoryLimiterLimitMiB }}
      memoryLimiterLimitMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.memoryLimiterSpikeLimitMiB }}
      memoryLimiterSpikeLimitMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorGateway.goMemLimitMiB }}
      goMemLimitMiB: {{ . }}
      {{- end }}
    {{- end }}
    {{- if .Values.collectorNode }}
    collectorNode:
      {{- with .Values.collectorNode.collectorOwnMetricsPort }}
      collectorOwnMetricsPort: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.requestMemoryMiB }}
      requestMemoryMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.limitMemoryMiB }}
      limitMemoryMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.requestCPUm }}
      requestCPUm: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.limitCPUm }}
      limitCPUm: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.memoryLimiterLimitMiB }}
      memoryLimiterLimitMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.memoryLimiterSpikeLimitMiB }}
      memoryLimiterSpikeLimitMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.goMemLimitMiB }}
      goMemLimitMiB: {{ . }}
      {{- end }}
      {{- with .Values.collectorNode.k8sNodeLogsDirectory }}
      k8sNodeLogsDirectory: {{ . }}
      {{- end }}
    {{- end }}
    {{- if .Values.UserInstrumentationEnvs.languages }}
    UserInstrumentationEnvs:
      languages:
        {{- range $lang, $config := .Values.UserInstrumentationEnvs.languages }}
        {{ $lang }}:
          enabled: {{ $config.enabled }}
          {{- if $config.env }}
          env:
            {{- range $key, $value := $config.env }}
            {{ $key }}: {{ $value | quote }}
            {{- end }}
          {{- end }}
        {{- end }}
    {{- end }}
    {{- if .Values.profiles }}
    profiles:
      {{- toYaml .Values.profiles | nindent 6 }}
    {{- end }}
    telemetryEnabled: {{ .Values.telemetry.enabled }}
    openshiftEnabled: {{ .Values.openshift.enabled }}
    psp: {{ .Values.psp.enabled }}
    {{- if .Values.ignoredNamespaces }}
    ignoredNamespaces:
      {{- toYaml .Values.ignoredNamespaces | nindent 6 }}
    {{- end }}
    {{- if .Values.ignoredContainers }}
    ignoredContainers:
      {{- toYaml .Values.ignoredContainers | nindent 6 }}
    {{- end }}
    {{- if .Values.instrumentor.mountMethod }}
      {{- if has .Values.instrumentor.mountMethod (list "k8s-host-path" "k8s-virtual-device") }}
    mountMethod: {{ .Values.instrumentor.mountMethod }}
      {{- else }}
        {{- fail "Error: Invalid mountMethod. Supported values are 'k8s-host-path' and 'k8s-virtual-device'." }}
      {{- end }}
    {{- end }}
    {{- if .Values.avoidInjectingJavaOptsEnvVar }}
    avoidInjectingJavaOptsEnvVar: {{ .Values.avoidInjectingJavaOptsEnvVar }}
    {{- end }}
    {{- $envMethod := .Values.instrumentor.agentEnvVarsInjectionMethod }}
    {{- if and $envMethod (not (has $envMethod (list "loader" "pod-manifest" "loader-fallback-to-pod-manifest"))) }}
    {{- fail "Error: Invalid agentEnvVarsInjectionMethod. Supported values are 'loader', 'pod-manifest', and 'loader-fallback-to-pod-manifest'." }}
    {{- else if $envMethod }}
    agentEnvVarsInjectionMethod: {{ $envMethod }}
    {{- end }}
    {{- if .Values.nodeSelector }}
    nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 6 }}
    {{- if .Values.karpenter.enabled }}
    karpenterEnabled: {{ .Values.karpenter.enabled }}
    {{- end }}
    {{- end }}
