{{- if (include "odigos.secretExists" .) }}
{{- if not .Values.auth.adminPassword }}
{{- fail "Central admin password is required. Please use --set auth.adminPassword=<your-password>" }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
  labels:
    app: keycloak
    odigos.io/system-object: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- range .Values.topologySpreadConstraints }}
        - maxSkew: {{ .maxSkew }}
          topologyKey: {{ .topologyKey | quote }}
          whenUnsatisfiable: {{ .whenUnsatisfiable | quote }}
          labelSelector:
            matchLabels:
              app: keycloak
        {{- end }}
        {{- end }}
      {{- if .Values.auth.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.auth.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.auth.tolerations }}
      tolerations:
        {{- toYaml .Values.auth.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.auth.affinity }}
      affinity:
        {{- toYaml .Values.auth.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.auth.podSecurityContext.enabled }}
      securityContext:
        fsGroup: {{ .Values.auth.podSecurityContext.fsGroup }}
      {{- end }}
      containers:
        - name: keycloak
          image: {{ .Values.auth.image | quote }}
          args: ["start", "--optimized", "--http-enabled=true"]
          {{- if .Values.auth.securityContext.enabled }}
          securityContext:
            runAsNonRoot: {{ .Values.auth.securityContext.runAsNonRoot }}
            allowPrivilegeEscalation: {{ .Values.auth.securityContext.allowPrivilegeEscalation }}
          {{- end }}
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin-credentials
                  key: admin-username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin-credentials
                  key: admin-password
            - name: KC_HOSTNAME
              value: "localhost"
          {{- if .Values.auth.persistence.enabled }}
          volumeMounts:
            - name: keycloak-data
              mountPath: /opt/keycloak/data
          {{- end }}
          ports:
            - containerPort: {{ .Values.auth.port }}
              name: {{ .Values.auth.portName }}
          resources:
            {{- toYaml .Values.auth.resources | nindent 12 }}
      {{- if .Values.auth.persistence.enabled }}
      volumes:
        - name: keycloak-data
          persistentVolumeClaim:
            claimName: {{ default "keycloak-data" .Values.auth.persistence.existingClaim }}
      {{- end }}
{{- end }}
