{{- if (include "odigos.secretExists" .) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
  labels:
    app: keycloak
    odigos.io/system-object: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- range .Values.topologySpreadConstraints }}
        - maxSkew: {{ .maxSkew }}
          topologyKey: {{ .topologyKey | quote }}
          whenUnsatisfiable: {{ .whenUnsatisfiable | quote }}
          labelSelector:
            matchLabels:
              app: keycloak
        {{- end }}
        {{- end }}
      {{- if .Values.auth.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.auth.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.auth.tolerations }}
      tolerations:
        {{- toYaml .Values.auth.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.auth.affinity }}
      affinity:
        {{- toYaml .Values.auth.affinity | nindent 8 }}
      {{- end }}
      {{- if and .Values.auth.persistence.enabled .Values.auth.podSecurityContext.enabled }}
      securityContext:
        fsGroup: {{ .Values.auth.podSecurityContext.fsGroup }}
      {{- end }}
      {{ include "odigos.renderPullSecrets" . | nindent 6 }}
      containers:
        - name: keycloak
          image: {{ .Values.auth.image | quote }}
          args: ["start", "--optimized", "--http-enabled=true"]
          {{- if and .Values.auth.persistence.enabled .Values.auth.securityContext.enabled }}
          securityContext:
            runAsNonRoot: {{ .Values.auth.securityContext.runAsNonRoot }}
            allowPrivilegeEscalation: {{ .Values.auth.securityContext.allowPrivilegeEscalation }}
          {{- end }}
          env:
            - name: JAVA_OPTS
              value: "{{ .Values.auth.javaOpts }}"
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin-credentials
                  key: admin-username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin-credentials
                  key: admin-password
            - name: KC_HOSTNAME
              value: "localhost"
          {{- if .Values.auth.persistence.enabled }}
          volumeMounts:
            - name: keycloak-data
              mountPath: /opt/keycloak/data
          {{- end }}
          ports:
            - containerPort: {{ .Values.auth.port }}
              name: {{ .Values.auth.portName }}
          {{- if .Values.auth.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /health/live
              port: {{ .Values.auth.livenessProbe.port }}
            initialDelaySeconds: {{ .Values.auth.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.auth.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.auth.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.auth.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.auth.livenessProbe.successThreshold }}
          {{- end }}
          {{- if .Values.auth.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /health/ready
              port: {{ .Values.auth.readinessProbe.port }}
            initialDelaySeconds: {{ .Values.auth.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.auth.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.auth.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.auth.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.auth.readinessProbe.successThreshold }}
          {{- end }}
          resources:
            {{- toYaml .Values.auth.resources | nindent 12 }}
      {{- if .Values.auth.persistence.enabled }}
      volumes:
        - name: keycloak-data
          persistentVolumeClaim:
            claimName: {{ default "keycloak-data" .Values.auth.persistence.existingClaim }}
      {{- end }}
{{- end }}
