{{- if (include "odigos.secretExists" .) }}
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: keycloak
  ports:
    - name: {{ .Values.auth.portName }}
      port: {{ .Values.auth.port }}
      targetPort: {{ .Values.auth.port }}
{{- end }}
