{{- if not .Values.ownTelemetry.metrics.disabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: odigos-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 1m
      evaluation_interval: 1m

    # No rules, no alertmanagers, no scrapes
    rule_files: []

    scrape_configs:
    - job_name: prometheus
      static_configs:
      - targets: ['localhost:9090']
      metric_relabel_configs:
        # Keep only tsdb (disk usage) metrics, to avoid scraping too much prometheus data.
        - source_labels: [__name__]
          regex: '(.*tsdb.*)'
          action: keep

    otlp:
      promote_resource_attributes:
      - service.name
      - service.instance.id
      - k8s.pod.name
      - k8s.node.name
{{- end }}
