{{- if not .Values.ownTelemetry.metrics.disabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: odigos-victoriametrics-config
data:
  scrape.yml: |
    scrape_configs:
    - job_name: self
      static_configs:
      - targets: ['localhost:8428']
      metric_relabel_configs:
        - source_labels: [__name__]
          regex: '(.*tsdb.*)'
          action: keep
{{- end }}
