apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[{"apiVersion":"operator.odigos.io/v1alpha1", "kind":"Odigos",
      "metadata":{"name":"odigos","namespace":"odigos-operator-system"}, "spec":{"version":"v1.8.7"}}]'
    capabilities: Basic Install
    categories: Logging & Tracing
    containerImage: registry.connect.redhat.com/odigos/odigos-operator-certified:v1.8.7
    description: Odigos enables automatic distributed tracing with OpenTelemetry and
      eBPF.
    features.operators.openshift.io/disconnected: "false"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operators.openshift.io/valid-subscription: Odigos Enterprise subscription (for
      enterprise features)
    support: Odigos
  name: odigos-operator.v1.8.7
  namespace: odigos-operator-system
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Odigos is the Schema for the odigos API
      displayName: Odigos
      kind: Odigos
      name: odigos.operator.odigos.io
      specDescriptors:
      - description: (Optional) OnPremToken is an enterprise token for Odigos Enterprise.
        displayName: On-Prem Token
        path: onPremToken
      - description: (Optional) IgnoredContainers is a list of container names to
          exclude from instrumentation (useful for ignoring sidecars).
        displayName: Ignored Containers
        path: ignoredContainers
      - description: (Optional) IgnoredNamespaces is a list of namespaces to not show
          in the Odigos UI.
        displayName: Ignored Namespaces
        path: ignoredNamespaces
      - description: |-
          (Optional) TelemetryEnabled records general telemetry regarding Odigos usage.
          Default=false
        displayName: Telemetry Enabled
        path: telemetryEnabled
      - description: |-
          (Optional) UIMode sets the UI mode to either "normal" or "readonly".
          In "normal" mode the UI is fully interactive, allowing users to view and edit
          Odigos configuration and settings. In "readonly" mode, the UI can only be
          used to view current Odigos configuration and is not interactive.
          Default=default
        displayName: UI Mode
        path: uiMode
      - description: |-
          (Optional) AgentEnvVarsInjectionMethod is the method to inject the Odigos agent env vars into the pod.
          Default=pod-manifest
        displayName: Agent Env Vars Injection Method
        path: agentEnvVarsInjectionMethod
      - description: |-
          (Optional) NodeSelector is a map of key-value Kubernetes NodeSelector labels to apply to all Odigos components.
          Note that Odigos will only be able to instrument applications on the same node.
        displayName: Node Selector
        path: nodeSelector
      - description: (Optional) Profiles is a list of preset profiles with a specific
          configuration.
        displayName: Profiles
        path: profiles
      - description: |-
          (Optional) ImagePrefix is a prefix for all container images.
          This should only be used if you are pulling Odigos images from the non-default registry.
          Default: registry.odigos.io
          Default (OpenShift): registry.connect.redhat.com
        displayName: Image Prefix
        path: imagePrefix
      - description: |-
          (Optional) MountMethod optionally defines the mechanism for mounting Odigos files into instrumented pods.
          One of "k8s-virtual-device" (default) or "k8s-host-path".
        displayName: Mount Method
        path: mountMethod
      - description: |-
          (Optional) OpenShiftEnabled configures selinux on OpenShift nodes.
          DEPRECATED: OpenShift clusters are auto-detected and this API field will be removed in a future release.
        displayName: OpenShift Enabled
        path: openshiftEnabled
      - description: |-
          (Optional) PodSecurityPolicy allows Odigos pods to use a privileged pod security policy.
          Default=false
        displayName: Pod Security Policy
        path: podSecurityPolicy
      - description: |-
          (Optional) SkipWebhookIssuerCreation skips creating the Issuer and Certificate for the Instrumentor pod webhook if cert-manager is installed.
          Default=false
        displayName: Skip Webhook Issuer Creation
        path: skipWebhookIssuerCreation
      statusDescriptors:
      - description: Conditions store the status conditions of the Odigos instances
        displayName: Conditions
        path: conditions
      version: v1alpha1
  description: |-
    The Odigos Operator provides options for installing and configuring Odigos.

    Upon creation of an Odigos resource, the Odigos Operator installs the following Odigos components:

    - Instrumentor
    - Odiglet
    - Autoscaler
    - Scheduler
    - Frontend UI

    With Odigos installed, follow the Odigos docs at docs.odigos.io for instructions on instrumenting applications and configuring destinations.
  displayName: Odigos Operator
  icon:
  - base64data: PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAtMiAxNiAxNiIgZmlsbD0iIzE1MTUxNSI+CiAgPHBhdGgKICAgIGQ9Ik01LjE3MjE1IDkuMDE4ODRMMi4xODM3NyA3LjY5ODEzQzEuNDgxNTkgNy4zODczMiAxLjA0NDggNi43MzY3NyAxLjA0NDggNS45OTk0OEMxLjA0NDggNS4yNjIyIDEuNDgwNTYgNC42MTE2NSAyLjE4Mzc3IDQuMzAwODNMNi4zNjE3MiAyLjQ1MzQ5TDYuNDUxNTYgMi40MTQyNVYwSDEuNjYxMjdDMS4wNDE3IDAgMC41Mzg4MTggMC40NzgxIDAuNTM4ODE4IDEuMDY3NzJWMTAuOTMxMkMwLjUzODgxOCAxMS41MjA5IDEuMDQxNyAxMS45OTkgMS42NjEyNyAxMS45OTlINS44MzMwM0g2LjQ1MjU5VjkuNTY4Mkw1LjE3MzE5IDkuMDE3ODFINS4xNzIxNVY5LjAxODg0WiIgLz4KICA8cGF0aAogICAgZD0iTTE0LjMzOTcgMEg5LjU0ODRWMi40NDExTDEwLjgwNDEgMi45ODExNUwxMC44MDEgMi45Njk4TDEzLjgxNjIgNC4zMDI5QzE0LjUxODQgNC42MTM3MiAxNC45NTUyIDUuMjY0MjYgMTQuOTU1MiA2LjAwMTU1QzE0Ljk1NTIgNi43Mzg4MyAxNC41MTk0IDcuMzg5MzggMTMuODE2MiA3LjcwMDJMMTAuMTY0OSA5LjMxNDE3TDkuNTQ3MzYgOS41NzY0NlYxMkgxNC4zMzg3QzE0Ljk1ODMgMTIgMTUuNDYxMSAxMS41MjE5IDE1LjQ2MTEgMTAuOTMyM1YxLjA2NzcyQzE1LjQ2MTEgMC40NzgxIDE0Ljk1ODMgMCAxNC4zMzg3IDBIMTQuMzM5N1oiIC8+CiAgPHBhdGgKICAgIGQ9Ik04LjAwMDQ4IDguNDc5NzJDOS4zNjk3MiA4LjQ3OTcyIDEwLjQ4MDggNy4zNjk2NiAxMC40ODA4IDUuOTk5MzhDMTAuNDgwOCA0LjYyOTEgOS4zNzA3NiAzLjUxOTA0IDguMDAwNDggMy41MTkwNEM2LjYzMDIgMy41MTkwNCA1LjUyMDE0IDQuNjI5MSA1LjUyMDE0IDUuOTk5MzhDNS41MjAxNCA3LjM2OTY2IDYuNjMwMiA4LjQ3OTcyIDguMDAwNDggOC40Nzk3MloiIC8+Cjwvc3ZnPg==
    mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - OpenTelemetry
  - eBPF
  - tracing
  - observability
  - distributed tracing
  - otel
  - monitoring
  links:
  - name: Odigos
    url: https://odigos.io
  - name: Odigos Documentation
    url: https://docs.odigos.io
  - name: Odigos on Github
    url: https://github.com/odigos-io/odigos
  maintainers:
  - email: mike@odigos.io
    name: Mike Dame
  maturity: alpha
  minKubeVersion: 1.19.0
  provider:
    name: Odigos
    url: https://odigos.io
  version: 1.8.7
