{{- if (include "odigos.secretExists" .) }}
{{- $imageTag := .Values.image.tag | default .Chart.AppVersion }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: odigos-central-deployment
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: "true"
data:
  odigosCentralVersion: {{ $imageTag | quote }}
  installationMethod: "helm"
{{- end }}


