resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: autoscaler
  newName: registry.connect.redhat.com/odigos/odigos-autoscaler-certified
  newTag: v1.8.7
- name: collector
  newName: registry.connect.redhat.com/odigos/odigos-collector-certified
  newTag: v1.8.7
- name: controller
  newName: registry.connect.redhat.com/odigos/odigos-operator-certified
  newTag: v1.8.7
- name: enterprise-instrumentor
  newName: registry.connect.redhat.com/odigos/odigos-enterprise-instrumentor-certified
  newTag: v1.8.7
- name: enterprise-odiglet
  newName: registry.connect.redhat.com/odigos/odigos-enterprise-odiglet-certified
  newTag: v1.8.7
- name: frontend
  newName: registry.connect.redhat.com/odigos/odigos-ui-certified
  newTag: v1.8.7
- name: instrumentor
  newName: registry.connect.redhat.com/odigos/odigos-instrumentor-certified
  newTag: v1.8.7
- name: odiglet
  newName: registry.connect.redhat.com/odigos/odigos-odiglet-certified
  newTag: v1.8.7
- name: scheduler
  newName: registry.connect.redhat.com/odigos/odigos-scheduler-certified
  newTag: v1.8.7
configMapGenerator:
- literals:
  - ODIGOS_VERSION=1.8.7
  name: odigos-version
