resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: autoscaler
  newName: registry.connect.redhat.com/odigos/odigos-autoscaler-ubi9
  newTag: v1.8.7
- name: collector
  newName: registry.connect.redhat.com/odigos/odigos-collector-ubi9
  newTag: v1.8.7
- name: controller
  newName: docker.io/mikeodigos/odigos-operator
  newTag: v1.8.7
- name: enterprise-instrumentor
  newName: registry.connect.redhat.com/odigos/odigos-enterprise-instrumentor-ubi9
  newTag: v1.8.7
- name: enterprise-odiglet
  newName: registry.connect.redhat.com/odigos/odigos-enterprise-odiglet-ubi9
  newTag: v1.8.7
- name: frontend
  newName: registry.connect.redhat.com/odigos/odigos-ui-ubi9
  newTag: v1.8.7
- name: instrumentor
  newName: registry.connect.redhat.com/odigos/odigos-instrumentor-ubi9
  newTag: v1.8.7
- name: odiglet
  newName: registry.connect.redhat.com/odigos/odigos-odiglet-ubi9
  newTag: v1.8.7
- name: scheduler
  newName: registry.connect.redhat.com/odigos/odigos-scheduler-ubi9
  newTag: v1.8.7
configMapGenerator:
- literals:
  - ODIGOS_VERSION=1.8.7
  name: odigos-version
