{{- if (include "odigos.secretExists" .) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
    odigos.io/system-object: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- range .Values.topologySpreadConstraints }}
        - maxSkew: {{ .maxSkew }}
          topologyKey: {{ .topologyKey | quote }}
          whenUnsatisfiable: {{ .whenUnsatisfiable | quote }}
          labelSelector:
            matchLabels:
              app: redis
        {{- end }}
        {{- end }}
      containers:
        - name: redis
          image: {{ .Values.redis.image | quote }}
          command: ["redis-server"]
          args:
            - "--port"
            - "{{ .Values.redis.port }}"
            {{- if .Values.redis.maxmemory }}
            - "--maxmemory"
            - "{{ .Values.redis.maxmemory }}"
            {{- end }}
            {{- if .Values.redis.maxmemoryPolicy }}
            - "--maxmemory-policy"
            - "{{ .Values.redis.maxmemoryPolicy }}"
            {{- end }}
          ports:
            - containerPort: {{ .Values.redis.port }}
              name: {{ .Values.redis.portName }}
          {{- if .Values.redis.resources }}
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
          {{- end }}
{{- end }}
