apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odiglet
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - namespaces
      - nodes
      - pods
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/status
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - daemonsets/finalizers
      - deployments/finalizers
      - statefulsets/finalizers
    verbs:
      - update
  - apiGroups:
      - apps
    resources:
      - daemonsets/status
      - deployments/status
      - statefulsets/status
    verbs:
      - get
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
      - destinations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
    verbs:
      - get
      - list
      - watch
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
     - instrumentedapplications
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - odigosconfigurations
      - destinations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - instrumentedapplications/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
     - instrumentationinstances
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationinstances/status
    verbs:
      - get
      - patch
      - update
{{ if .Values.psp.enabled }}
  - apiGroups:
    - policy
    resourceNames:
    - privileged
    resources:
    - podsecuritypolicies
    verbs:
    - use
{{ end }}