{{- $imageTag := .Values.image.tag | default .Chart.AppVersion -}}
{{- $extendedSuffix := "" -}}
{{- if and .Values.odiglet.extended (include "odigos.secretExists" .) -}}
  {{- $extendedSuffix = "-extended" -}}
{{- end -}}
{{- $odigletImageTag := printf "%s%s" $imageTag $extendedSuffix -}}
{{- $signals := .Values.signals | default (list "traces") -}}
{{- $collectLogs := has "logs" $signals -}}
{{- $collectMetrics := has "metrics" $signals -}}
{{- $hostMetricsDisabled := false -}}
{{- if .Values.metricsSources -}}
  {{- if .Values.metricsSources.hostMetrics -}}
    {{- if hasKey .Values.metricsSources.hostMetrics "disabled" -}}
      {{- $hostMetricsDisabled = .Values.metricsSources.hostMetrics.disabled -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $privilegedRequired := or $collectLogs $collectMetrics -}}
{{- $k8sVersion := include "utils.cleanKubeVersion" . }}
{{- if and $privilegedRequired .Values.odiglet.unPrivileged }}
{{ fail "privileged mode is required when collecting logs or metrics, this is currently not supported in unprivileged mode" }}
{{- end }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/name: odiglet
    odigos.io/system-object: "true"
  name: {{ .Values.odiglet.daemonsetName | default "odiglet" }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: odiglet
  updateStrategy:
    rollingUpdate:
      {{- if semverCompare ">=1.22.0" $k8sVersion }}
      maxSurge: 0
      {{- end }}
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: odiglet
        odigos.io/collector-role: NODE_COLLECTOR
      annotations:
        {{- if and (.Values.odiglet.unPrivileged) (semverCompare "<1.30.0" $k8sVersion) }}
        # Prior to Kubernetes v1.30, AppArmor profile was specified through annotations.
        container.apparmor.security.beta.kubernetes.io/odiglet: unconfined
        {{- end }}
        kubectl.kubernetes.io/default-container: odiglet
    spec:
      {{- if .Values.odiglet.nodeSelector }}
      # Component-specific nodeSelector (overrides global values.yaml nodeSelector)
      nodeSelector:
      {{- toYaml .Values.odiglet.nodeSelector | nindent 8 }}
      {{- else if .Values.nodeSelector }}
      # Global nodeSelector from values.yaml
      nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      # we will always have at least one init container
      # if the mountMethod is k8s-init-container, we will pre-pull the agents image here as an init container
      # otherwise, we must be using a mountMethod that allows hostPathMounts and we will use the standard odiglet init
      initContainers:
      {{- if or (not .Values.odiglet.noHostPathMounts) (not (eq .Values.instrumentor.mountMethod "k8s-init-container")) }}
        - name: init
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-odiglet" "Tag" $odigletImageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "odiglet" "Tag" $odigletImageTag) }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          command:
            - /root/odiglet
          args:
            - init
          volumeMounts:
          {{- if not .Values.odiglet.noHostPathMounts}}
            - name: odigos
              mountPath: /var/odigos
          {{- if .Values.openshift.enabled }}
            - name: host
              mountPath: /host
              readOnly: true
            - name: selinux
              mountPath: /host/etc/selinux
              mountPropagation: Bidirectional
          {{- end }}
          {{- end }}
          securityContext:
          {{- if not .Values.odiglet.unPrivileged}}
            privileged: true
          {{- end }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: ODIGOS_TIER
              valueFrom:
                configMapKeyRef:
                  key: ODIGOS_TIER
                  name: odigos-deployment
            - name: CURRENT_NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  containerName: init
                  resource: limits.cpu
          resources:
{{ toYaml .Values.odiglet.initContainerResources | indent 12 }}
      {{- end }}
      {{- if eq .Values.instrumentor.mountMethod "k8s-init-container" }}
        # This init container pre-pulls the odigos-agents image to the node
        # so it's available in the image cache when user pods need it
        - name: odigos-agents-image-pull
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-agents" "Tag" $odigletImageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "agents" "Tag" $odigletImageTag) }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          # # it does not run any actual code, just pulls the image
          # we add the resources here to make sure any policy that may validate resources exist
          # is satisfied, there should be no need to configure this as this is not running anything.
          resources:
            requests:
              cpu: 1m
              memory: 10Mi
            limits:
              cpu: 1m
              memory: 10Mi
      {{- end }}
      containers:
        - name: odiglet
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-odiglet" "Tag" $odigletImageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "odiglet" "Tag" $odigletImageTag) }}
          {{- end }}
          args:
            - --health-probe-bind-port={{ .Values.odiglet.odiglet.livenessProbe.httpGet.port }}
          {{- if .Values.odiglet.traceIdSuffix }}
            - --trace-id-suffix={{ .Values.odiglet.traceIdSuffix }}
          {{- end }}
          {{- if .Values.wasp.enabled }}
            - --wasp-enabled
          {{- end }}
          command:
            - /root/odiglet
          imagePullPolicy: IfNotPresent
          securityContext:
            {{- if not .Values.odiglet.unPrivileged }}
            privileged: true
            {{- else }}
            privileged: false
            capabilities:
              add:
              {{- with .Values.odiglet.odiglet.capabilities }}
              {{- toYaml . | nindent 14 }}
              {{- end }}
              drop:
                - ALL
            # for Kubernetes >= 1.30 we can specify AppArmor profile in securityContext
            {{- if semverCompare ">=1.30.0" $k8sVersion }}
            {{- with .Values.odiglet.odiglet.appArmorProfile }}
            appArmorProfile:
              {{ toYaml . | nindent 14 }}
            {{- end }}
            {{- end }}
            {{- end }} # end of securityContext
          livenessProbe:
{{ toYaml .Values.odiglet.odiglet.livenessProbe | indent 12 }}
          readinessProbe:
{{ toYaml .Values.odiglet.odiglet.readinessProbe | indent 12 }}
          resources:
{{ include "odigos.odiglet.resolvedResources" . | indent 12 }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
            - name: CONTAINER_RUNTIME_SOCK
              value: {{ .Values.odiglet.customContainerRuntimeSocketPath }}
          {{- end }}
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: CURRENT_NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OTEL_LOG_LEVEL
              value: info
          {{- if include "odigos.secretExists" . }}
            - name: OTEL_GO_OFFSETS_FILE
              value: /offsets/go_offset_results.json
            - name: ODIGOS_ONPREM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: odigos-pro
                  key: odigos-onprem-token
          {{- end }}
            - name: GOMEMLIMIT
              value: {{ include "odigos.gomemlimitFromResources" (dict "Resources" (include "odigos.odiglet.resolvedResources" . | fromYaml)) }}
          {{- if .Values.odiglet.noHostPid }}
            - name: ODIGOS_PROC_DIR
              value: /hostproc
          {{- end}}
          {{- if .Values.odiglet.disableGoCodeAttributes }}
            - name: ODIGOS_GO_DISABLE_CODE_ATTRIBUTES
              value: "true"
          {{- end}}
          envFrom:
            - configMapRef:
                name: odigos-own-telemetry-otel-config
                optional: true
          volumeMounts:
          {{- if not .Values.odiglet.noHostPathMounts }}
            - name: run-dir
              mountPath: /run
             {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
            - name: custom-container-runtime-socket
              mountPath: {{ dir .Values.odiglet.customContainerRuntimeSocketPath }}
             {{- end }}
             {{- if .Values.openshift.enabled }}
            - name: host
              mountPath: /host
              readOnly: true
            - name: selinux
              mountPath: /host/etc/selinux
              mountPropagation: Bidirectional
             {{- end }}
            - name: odigos
              mountPath: /var/odigos
              readOnly: true
          {{- end }} # end of optional hostPath mounts
          {{- if .Values.odiglet.noHostPid }}
            - name: hostproc
              mountPath: /hostproc
          {{- end }}
             # needed to load eBPF tracepoints - used by runtime-detector
            - name: sys-kernel
              mountPath: /sys/kernel
            - name: odigos-go-offsets
              mountPath: /offsets
            - name: exchange-dir
              mountPath: /var/exchange
        - name: data-collection
          image: '{{ template "utils.imageName" (dict "Values" .Values "Component" "collector" "Tag" $imageTag) }}'
          imagePullPolicy: IfNotPresent
          command:
            - /odigosotelcol
          args:
            - --config=k8scm:{{ .Release.Namespace }}/odigos-data-collection/conf
          securityContext:
            {{- if $privilegedRequired }}
            privileged: true
            {{- else }}
            privileged: false
            capabilities:
              add:
              {{- with .Values.odiglet.dataCollection.capabilities }}
              {{- toYaml . | nindent 14 }}
              {{- end }}
              drop:
                - ALL
            {{- end }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
{{- $nodeLimiter := include "collector.node.memoryLimiter" . | fromYaml }}
            - name: GOMEMLIMIT
              value: "{{ $nodeLimiter.goMiB }}MiB"
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  containerName: data-collection
                  resource: limits.cpu
          livenessProbe:
            httpGet:
              path: /
              port: 13133
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 13133
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 10
            timeoutSeconds: 5
          startupProbe:
            httpGet:
              path: /
              port: 13133
            failureThreshold: 30
            periodSeconds: 10
          resources:
            requests:
              memory: "{{ include "collector.node.memoryRequest" . }}Mi"
              cpu: "{{ include "collector.node.cpuRequest" . }}m"
            limits:
              memory: "{{ include "collector.node.memoryLimit" . }}Mi"
              cpu: "{{ include "collector.node.cpuLimit" . }}m"
          volumeMounts:
            {{- if $collectLogs }}
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            {{- $logsDir := .Values.collectorNode.k8sNodeLogsDirectory | default "" -}}
            {{- if $logsDir }}
            - name: logs-symlink-target
              mountPath: {{ $logsDir }}
              readOnly: true
            {{- end }}
            {{- end }}
            {{- if and $collectMetrics (not $hostMetricsDisabled) }}
            - name: hostfs
              mountPath: /hostfs
              readOnly: true
            {{- end }}
            - name: exchange-dir
              mountPath: /var/exchange
# if hostMounts are not allowed we must use mountMethod of "k8s-init-container"
{{- if and (not (eq .Values.instrumentor.mountMethod "k8s-init-container")) (.Values.odiglet.noHostPathMounts) }}
{{ fail "if HostPath mounts are not allowed mount method must be k8s-init-container" }}
{{- end }}
# to use device plugins we need to have the "k8s-virtual-device" mount method or non specified (default)
# and to have hostMounts allowed
{{- if and (or (eq .Values.instrumentor.mountMethod "") (eq .Values.instrumentor.mountMethod "k8s-virtual-device")) (not .Values.odiglet.noHostPathMounts) }}
        - name: deviceplugin
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-odiglet" "Tag" $odigletImageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "odiglet" "Tag" $odigletImageTag) }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          command:
            - /root/deviceplugin
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: CURRENT_NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: device-plugins-dir
              mountPath: /var/lib/kubelet/device-plugins
          resources:
{{ toYaml .Values.odiglet.deviceplugin.resources | indent 12 }}
          livenessProbe:
            exec:
              command:
                - /root/grpc_health_probe
                - -addr=unix:///var/lib/kubelet/device-plugins/instrumentation.odigos.io_generic
                - -connect-timeout=10s
                - -rpc-timeout=10s
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 10
            timeoutSeconds: 10
          readinessProbe:
            exec:
              command:
                - /root/grpc_health_probe
                - -addr=unix:///var/lib/kubelet/device-plugins/instrumentation.odigos.io_generic
                - -connect-timeout=10s
                - -rpc-timeout=10s
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 10
            timeoutSeconds: 10
{{- end }}
      # set hostNetwork only for k8s versions prior to v1.26 unless noHostNetwork is true
      {{- if and (semverCompare "<1.26.0" $k8sVersion) (not .Values.odiglet.noHostNetwork) }}
      hostNetwork: true
      {{- end}}
      {{- if not .Values.odiglet.noHostPid }}
      hostPID: true
      {{- end }}
      dnsPolicy: ClusterFirstWithHostNet
      {{- if .Values.odiglet.priorityClassName }}
      priorityClassName: {{ .Values.odiglet.priorityClassName }}
      {{- end }}
      serviceAccountName: odiglet
      volumes:
        {{- if $collectLogs }}
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        {{- $logsDir := .Values.collectorNode.k8sNodeLogsDirectory | default "" -}}
        {{- if $logsDir }}
        - name: logs-symlink-target
          hostPath:
            path: {{ $logsDir }}
        {{- end }}
        {{- end }}
        {{- if and $collectMetrics (not $hostMetricsDisabled) }}
        - name: hostfs
          hostPath:
            path: /
        {{- end }}
      {{- if not .Values.odiglet.noHostPathMounts }}
        - name: run-dir
          hostPath:
            path: /run
         {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
        - name: custom-container-runtime-socket
          hostPath:
            path: {{ dir .Values.odiglet.customContainerRuntimeSocketPath }}
         {{- end }}
         {{- if .Values.openshift.enabled }}
        - name: host
          hostPath:
            path: /
        - name: selinux
          hostPath:
            path: /etc/selinux
         {{- end }}
        - name: device-plugins-dir
          hostPath:
            path: /var/lib/kubelet/device-plugins
        - name: odigos
          hostPath:
            path: /var/odigos
      {{- end }} # end of hostPath mounts that are not mandatory
        # needed to load eBPF tracepoints - used by runtime-detector
      {{- if .Values.odiglet.noHostPid }}
        - name: hostproc
          hostPath:
            path: /proc
            type: Directory
      {{- end }}
        - name: sys-kernel
          hostPath:
            path: /sys/kernel
        - name: odigos-go-offsets
          configMap:
            name: odigos-go-offsets
        - name: exchange-dir
          emptyDir: {}
      {{ include "odigos.renderPullSecrets" . | nindent 6 }}
{{- with .Values.odiglet }}
  {{- if .tolerations }}
      tolerations: {{ toYaml .tolerations | nindent 8 }}
  {{- end }}
  {{- if .affinity }}
      affinity: {{ toYaml .affinity | nindent 8 }}
  {{- end }}
{{- end }}
