apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/name: odiglet
    odigos.io/system-object: "true"
  name: odiglet
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: odiglet
  updateStrategy:
    rollingUpdate:
      {{- if semverCompare ">=1.22.0" .Capabilities.KubeVersion.Version }}
      maxSurge: 0
      {{- end }}
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: odiglet
    spec:
      {{- if .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      initContainers:
        - name: init
          {{ $imageTag := .Values.image.tag | default .Chart.AppVersion }}
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-odiglet" "Tag" $imageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "odiglet" "Tag" $imageTag) }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          command:
            - /root/odiglet
          args:
            - init
          volumeMounts:
            - name: odigos
              mountPath: /var/odigos
            {{- if .Values.openshift.enabled }}
            - name: host
              mountPath: /host
              readOnly: true
            - name: selinux
              mountPath: /host/etc/selinux
              mountPropagation: Bidirectional
            {{- end }}
          securityContext:
            privileged: true
            capabilities:
              add:
                - SYS_PTRACE
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: ODIGOS_TIER
              valueFrom:
                configMapKeyRef:
                  key: ODIGOS_TIER
                  name: odigos-deployment
            - name: CURRENT_NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      containers:
        - name: odiglet
          {{ $imageTag := .Values.image.tag | default .Chart.AppVersion }}
          {{- if include "odigos.secretExists" . }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "enterprise-odiglet" "Tag" $imageTag) }}
          {{- else }}
          image: {{ template "utils.imageName" (dict "Values" .Values "Component" "odiglet" "Tag" $imageTag) }}
          {{- end }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
            - name: CONTAINER_RUNTIME_SOCK
              value: {{ .Values.odiglet.customContainerRuntimeSocketPath }}
            {{- end }}
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: CURRENT_NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OTEL_LOG_LEVEL
              value: info
            {{- if include "odigos.secretExists" . }}
            - name: OTEL_GO_OFFSETS_FILE
              value: /offsets/go_offset_results.json
            - name: ODIGOS_ONPREM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: odigos-pro
                  key: odigos-onprem-token
            {{- end }}
          envFrom:
            - configMapRef:
                name: odigos-own-telemetry-otel-config
                optional: true
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
            capabilities:
              add:
                - SYS_PTRACE
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            periodSeconds: 10
          volumeMounts:
            - name: run-dir
              mountPath: /run
            {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
            - name: custom-container-runtime-socket
              mountPath: {{ dir .Values.odiglet.customContainerRuntimeSocketPath }}
            {{- end }}
            {{- if .Values.openshift.enabled }}
            - name: host
              mountPath: /host
              readOnly: true
            - name: selinux
              mountPath: /host/etc/selinux
              mountPropagation: Bidirectional
            {{- end }}
            - name: device-plugins-dir
              mountPath: /var/lib/kubelet/device-plugins
            - name: odigos
              mountPath: /var/odigos
              readOnly: true
            - name: kernel-debug
              mountPath: /sys/kernel/debug
            {{- if include "odigos.secretExists" . }}
            - name: odigos-go-offsets
              mountPath: /offsets
            {{- end }}
      {{- if semverCompare "<1.26.0" .Capabilities.KubeVersion.Version }}
      hostNetwork: true
      {{- end}}
      hostPID: true
      dnsPolicy: ClusterFirstWithHostNet
      priorityClassName: system-node-critical
      serviceAccountName: odiglet
      volumes:
        - name: run-dir
          hostPath:
            path: /run
        {{- if .Values.odiglet.customContainerRuntimeSocketPath }}
        - name: custom-container-runtime-socket
          hostPath:
            path: {{ dir .Values.odiglet.customContainerRuntimeSocketPath }}
        {{- end }}
        {{- if .Values.openshift.enabled }}
        - name: host
          hostPath:
            path: /
        - name: selinux
          hostPath:
            path: /etc/selinux
        {{- end }}
        - name: device-plugins-dir
          hostPath:
            path: /var/lib/kubelet/device-plugins
        - name: odigos
          hostPath:
            path: /var/odigos
        - name: kernel-debug
          hostPath:
            path: /sys/kernel/debug
        {{- if include "odigos.secretExists" . }}
        - name: odigos-go-offsets
          configMap:
            name: odigos-go-offsets
        {{- end }}
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 6 }}
{{- end }}
{{- with .Values.odiglet }}
  {{- if .nodeSelector }}
      nodeSelector: {{ toYaml .nodeSelector | nindent 8 }}
  {{- end }}
  {{- if .tolerations }}
      tolerations: {{ toYaml .tolerations | nindent 8 }}
  {{- end }}
  {{- if .affinity }}
      affinity: {{ toYaml .affinity | nindent 8 }}
  {{- end }}
{{- end }}
