---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    odigos.io/system-object: "true"
  name: sources.odigos.io
spec:
  group: odigos.io
  names:
    kind: Source
    listKind: SourceList
    plural: sources
    singular: source
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.workload.name
      name: Workload
      type: string
    - jsonPath: .spec.workload.kind
      name: Kind
      type: string
    - jsonPath: .spec.workload.namespace
      name: Namespace
      type: string
    - jsonPath: .spec.disableInstrumentation
      name: Disabled
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Source configures an application for auto-instrumentation.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              containerOverrides:
                description: |-
                  Specify specific override values for containers in a workload source.
                  Not valid for namespace sources.
                  Can be used to set the runtime info in case the automatic detection fails or produce wrong results.
                  Containers are identified by their names.
                  All containers not listed will retain their default behavior.
                items:
                  properties:
                    containerName:
                      description: The name of the container to override.
                      type: string
                    otelDistroName:
                      description: |-
                        select one specific otel distro to use for this container.
                        the selected distro must match the programming language and any constraints of the distro.
                        if the programmin language is incorrect, the runtime info can be overridden to match
                      type: string
                    runtimeInfo:
                      description: |-
                        RuntimeInfo to use for agent enabling.
                        If set for a container, the automatic detection will not be used for this container,
                        and the distro to use will be calculated based on this value.
                      properties:
                        containerName:
                          type: string
                        criErrorMessage:
                          description: |-
                            CriErrorMessage is set if the value in EnvFromContainerRuntime was not computed correctly and cannot be used safely.
                            Sometimes, even if CRI check failed, it is possible to tell that relevant env vars are not coming from container runtime.
                            Thus, this field is set only when there is:
                            - Actual CRI check failed
                            - The observed environment variables might come from container runtime
                          type: string
                        envFromContainerRuntime:
                          description: Holds the environment variables retrieved from
                            the container runtime.
                          items:
                            properties:
                              name:
                                type: string
                              value:
                                type: string
                            required:
                            - name
                            - value
                            type: object
                          type: array
                        envVars:
                          items:
                            properties:
                              name:
                                type: string
                              value:
                                type: string
                            required:
                            - name
                            - value
                            type: object
                          type: array
                        language:
                          enum:
                          - java
                          - python
                          - go
                          - dotnet
                          - javascript
                          - php
                          - ruby
                          - rust
                          - cplusplus
                          - mysql
                          - nginx
                          - redis
                          - postgres
                          - unknown
                          - ignored
                          type: string
                        libCType:
                          enum:
                          - glibc
                          - musl
                          type: string
                        otherAgent:
                          properties:
                            name:
                              type: string
                          type: object
                        runtimeUpdateState:
                          description: A temporary variable used during migration
                            to track whether the new runtime detection process has
                            been executed. If empty, it indicates the process has
                            not yet been run. This field may be removed later.
                          type: string
                        runtimeVersion:
                          type: string
                        secureExecutionMode:
                          description: |-
                            Indicates whether the target process is running is secure-execution mode.
                            nil means we were unable to determine the secure-execution mode.
                          type: boolean
                      required:
                      - containerName
                      - language
                      type: object
                  required:
                  - containerName
                  type: object
                type: array
              disableInstrumentation:
                description: DisableInstrumentation excludes this workload from auto-instrumentation.
                type: boolean
              matchWorkloadNameAsRegex:
                description: |-
                  MatchWorkloadNameAsRegex indicates that the workload name should be matched using regex.
                  When true, spec.workload.name is treated as a regular expression pattern.
                  This allows matching multiple workloads with a single Source CRD.
                  Not valid for namespace sources.
                type: boolean
              otelServiceName:
                description: |-
                  OtelServiceName determines the "service.name" resource attribute which will be reported by the instrumentations of this source.
                  If not set, the workload name will be used.
                  It is not valid for namespace sources.
                type: string
              workload:
                description: |-
                  Workload represents the workload or namespace to be instrumented.
                  This field is required upon creation and cannot be modified.
                properties:
                  kind:
                    description: |-
                      1. the pascal case representation of the workload kind
                      it is used in k8s api objects as the `Kind` field.
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - kind
                - name
                - namespace
                type: object
            required:
            - workload
            type: object
          status:
            properties:
              conditions:
                description: |-
                  Represents the observations of a source's current state.
                  Known .status.conditions.type are: "Available", "Progressing"
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
