apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-instrumentor
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ''
    resources:
      - nodes
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - 'batch'
    resources:
      - cronjobs
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - apps
    resources:
      - daemonsets
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - update
      - patch
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - apps
    resources:
      - statefulsets/finalizers
      - deployments/finalizers
      - daemonsets/finalizers
    verbs:
      - update
  - apiGroups:
      - apps.openshift.io
    resources:
      - deploymentconfigs
      - deploymentconfigs/finalizers
    verbs:
      - get
      - list
      - watch
      - update
      - patch
{{- end }}
  - apiGroups:
      - argoproj.io
    resources:
      - rollouts
    verbs:
      - get
      - list
      - watch
      - patch
  - apiGroups:
      - operator.odigos.io
    resources:
      - odigos/finalizers
    verbs:
      - update
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - sources
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - sources/finalizers
    verbs:
      - update
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
    resourceNames:
      - odigos-source-mutating-webhook-configuration
      - odigos-pod-mutating-webhook-configuration
    verbs:
      - update
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
    resourceNames:
      - odigos-source-validating-webhook-configuration
    verbs:
      - update
