apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-autoscaler
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - sources
    verbs:
      - get
      - list
      - watch
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/finalizers
    verbs:
      - get
      - patch
      - update
{{- end }}
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
    resourceNames:
      - odigos-action-validating-webhook-configuration
    verbs:
      - update
  - apiGroups:
      - apiregistration.k8s.io
    resources:
      - apiservices
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
