apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: odigos-autoscaler
rules:
  - apiGroups:
      - odigos.io
    resources:
      - instrumentationconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - sources
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - actions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - actions/status
    verbs:
      - get
      - patch
      - update
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/finalizers
    verbs:
      - get
      - patch
      - update
{{- end }}
