apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: odigos-autoscaler-leader-election
  namespace: {{ .Release.Namespace }}
  labels:
    odigos.io/system-object: 'true'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: odigos-leader-election-role
subjects:
- kind: ServiceAccount
  name: odigos-autoscaler
