apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-autoscaler
  namespace: '{{ .Release.Namespace }}'
  labels:
    odigos.io/system-object: "true"
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
      - deletecollection
  - apiGroups:
      - apps
    resources:
      - daemonsets
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
      - deletecollection
  - apiGroups:
      - apps
    resources:
      - daemonsets/status
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments/status
    verbs:
      - get
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - secrets
    resourceNames:
      - autoscaler-webhooks-cert
    verbs:
      - update
# migration from the old webhook cert - this can be removed once we are confident that the old secrets have been deleted
  - apiGroups:
      - ''
    resources:
      - secrets
    resourceNames:
      - autoscaler-webhook-cert
    verbs:
      - delete
  - apiGroups:
      - odigos.io
    resources:
      - destinations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - destinations/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - processors
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
  - apiGroups:
      - actions.odigos.io
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - actions.odigos.io
    resources:
      - '*/status'
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - actions
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - actions/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - samplings
    verbs:
      - get
      - list
      - watch
{{- if .Values.openshift.enabled }}
  - apiGroups:
      - 'apps'
    resources:
      - deployments/finalizers
    verbs:
      - update
{{- end }}
