apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: odigos-autoscaler
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - daemonsets
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - daemonsets/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - odigos.io
    resources:
      - destinations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - destinations/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - processors
    verbs:
      - get
      - list
      - watch
      - patch
      - create
      - update
  - apiGroups:
      - actions.odigos.io
    resources:
      - addclusterinfos
      - deleteattributes
      - renameattributes
      - probabilisticsamplers
      - piimaskings
      - latencysamplers
      - errorsamplers
    verbs:
      - watch
      - get
      - list
  - apiGroups:
      - actions.odigos.io
    resources:
      - addclusterinfos/status
      - deleteattributes/status
      - renameattributes/status
      - probabilisticsamplers/status
      - piimaskings/status
      - latencysamplers/status
      - errorsamplers/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - odigos.io
    resources:
      - collectorsgroups/status
    verbs:
      - get
      - patch
      - update
