apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: action-validating-webhook-configuration
  labels:
    app.kubernetes.io/name: action-validating-webhook
    app.kubernetes.io/instance: action-validating-webhook-configuration
    app.kubernetes.io/component: webhook
    app.kubernetes.io/created-by: autoscaler
    app.kubernetes.io/part-of: odigos
    odigos.io/system-object: 'true'
webhooks:
  - name: action-validating-webhook.odigos.io
    clientConfig:
      service:
        name: odigos-autoscaler
        namespace: {{ .Release.Namespace }}
        path: /validate-odigos-io-v1alpha1-action
        port: 9443
    rules:
      - operations:
          - CREATE
          - UPDATE
        apiGroups: ["odigos.io"]
        apiVersions: ["v1alpha1"]
        resources: ["actions"]
        scope: Namespaced
    failurePolicy: Ignore
    sideEffects: None
    timeoutSeconds: 10
    admissionReviewVersions: ["v1"]
---
apiVersion: v1
kind: Secret
metadata:
  name: autoscaler-webhooks-cert
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: autoscaler-cert
    app.kubernetes.io/instance: autoscaler-cert
    app.kubernetes.io/component: certificate
    app.kubernetes.io/created-by: autoscaler
    app.kubernetes.io/part-of: odigos
    odigos.io/system-object: 'true'
  
