[Unit]
Description=Odigos Distribution of the OpenTelemetry Collector
After=network.target

[Service]
EnvironmentFile=/etc/odigos-otelcol/odigos-otelcol.conf
ExecStart=/usr/bin/odigos-otelcol $OTELCOL_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
Type=simple
User=odigos
Group=odigos

AmbientCapabilities=CAP_SYS_ADMIN CAP_BPF CAP_PERFMON CAP_SYSLOG CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_BPF CAP_PERFMON CAP_SYSLOG CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target
