[Unit]
Description=Reload odigos-otelcol after config change (activated by odigos-otelcol-config.path)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload odigos-otelcol.service
