name: build

on:
  merge_group:
  pull_request:
    branches: [ main, 'releases/**' ]

jobs:
  build-and-test-autoscaler:
    name: build-and-test-autoscaler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Autoscaler Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: autoscaler:pr-${{ github.event.number }}
          provenance: false
          build-args: SERVICE_NAME=autoscaler
          file: Dockerfile
      - name: run tests
        working-directory: ./autoscaler
        run: |
          make test

  build-scheduler:
    name: build-scheduler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Scheduler Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: scheduler:pr-${{ github.event.number }}
          provenance: false
          build-args: SERVICE_NAME=scheduler
          file: Dockerfile

  build-agents:
    name: build-agents
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Agents Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: agents:pr-${{ github.event.number }}
          provenance: false
          file: odiglet/Dockerfile
          build-args: SERVICE_NAME=agents
          target: agents

  build-and-test-instrumentor:
    name: build-and-test-instrumentor
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"
      - name: Build Instrumentor Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: instrumentor:pr-${{ github.event.number }}
          provenance: false
          build-args: SERVICE_NAME=instrumentor
          file: Dockerfile
      - name: run tests
        working-directory: ./instrumentor
        run: |
          make test

  build-and-test-odigos-collector:
    name: build-and-test-odigos-collector
    runs-on: depot-ubuntu-24.04-8
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build Odigos Collector Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: odigos-collector:pr-${{ github.event.number }}
          provenance: false
          file: collector/Dockerfile
      - name: run tests
        working-directory: ./collector
        run: |
          make test

  build-and-test-odiglet:
    name: build-and-test-odiglet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build Odiglet Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: odiglet/Dockerfile
          context: .
          push: false
          tags: odiglet:pr-${{ github.event.number }}
          provenance: false
      - name: Install build dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y clang llvm libbpf-dev
      - name: run tests
        working-directory: ./odiglet
        run: |
          make test

  build-frontend:
    name: build-frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Frontend Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: frontend/Dockerfile
          context: .
          push: false
          tags: frontend:pr-${{ github.event.number }}
          provenance: false

  build-operator:
    name: build-operator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Operator Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: operator/Dockerfile
          context: .
          push: false
          tags: operator:pr-${{ github.event.number }}
          provenance: false
          build-args: |
            ODIGOS_VERSION=v0.0.0-pr${{ github.event.number }}

  build-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"
      - name: Set up Goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: build --snapshot --clean

  test-k8sutils:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"
      - name: Test k8sutils module
        working-directory: ./k8sutils
        run: |
          go test -v ./...

  test-common:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"
      - name: Test common module
        working-directory: ./common
        run: |
          make test

  test-procdiscovery:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"
      - name: Test procdiscovery module
        working-directory: ./procdiscovery
        run: |
          go test -v ./...
