name: Check links

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: lycheeverse/lychee-action@v1.10.0
      with:
        args: >-
          -v -n "*.md" "**/*.md" "**/*.mdx"
          --exclude "http://localhost*"
        fail: true