name: Check links

on:
  pull_request:
    branches:
      - releases/**
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Restore lychee cache
        id: restore-cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-pr-${{ github.event.pull_request.number }}
          restore-keys: cache-lychee-pr-

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: >-
            -v -n "*.md" "**/*.md" "**/*.mdx"
            --exclude "http://localhost*"
            --exclude "^https://logs-prod.*"
            --exclude ".*your-account.*"
            --exclude ".*qryn.local.*"
            --exclude "^https://d15jtxgb40qetw\\.cloudfront\\.net/.*"
            --exclude "https://github.com/odigos-io/ui-kit"
            --exclude "http://host:port*"
            --exclude "https://www.npmjs.com/*"
            --timeout 30
            --max-concurrency 2
            --retry-wait-time 15
            --max-retries 5
            --cache --max-cache-age 1d
            --cache-exclude-status 400..600
            --github-token ${{ secrets.GITHUB_TOKEN }}
          fail: true

      - name: Save lychee cache
        if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v4
        with:
          path: .lycheecache
          key: cache-lychee-pr-${{ github.event.pull_request.number }}
