name: Cross-Cloud Chainsaw Tests

on:
  workflow_dispatch:
    inputs:
      provider:
        description: 'Cloud provider to test against (e.g. eks, aks, gke)'
        required: true
        type: choice
        options:
          - all
          - aks
          - eks
      test_scenario:
        description: 'The test suite to run (e.g. helm-chart, source)'
        required: true
        type: choice
        options:
          - all
          - helm-chart
          - source
      platform:
        description: 'CPU arch for EKS instances'
        required: true
        type: choice
        options:
          - all
          - amd
          - arm

permissions:
  id-token: write
  contents: read

env:
  GITHUB_RUN_ID: ${{ github.run_id }}
  GITHUB_REPOSITORY: ${{ github.repository }}

jobs:
  build-images:
    uses: ./.github/workflows/build-dev-images.yml


  test:
    needs: build-images
    runs-on: depot-ubuntu-24.04-8
    strategy:
      fail-fast: false
      matrix:
        provider: ${{ fromJSON(inputs.provider == 'all' && '["eks", "aks"]' || format('["{0}"]', inputs.provider)) }}
        platform: ${{ fromJSON(inputs.provider == 'all' && '["arm", "amd"]' || format('["{0}"]', inputs.provider)) }}
        test_scenario: ${{ fromJSON(inputs.test_scenario == 'all' && '["source", "helm-chart"]' || format('["{0}"]', inputs.test_scenario)) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Cross-Cloud Tests
        if: ${{ !(matrix.provider == 'aks' && matrix.platform == 'arm') }}
        uses: ./.github/actions/cross-cloud-tests
        with:
          provider: ${{ matrix.provider }}
          test_scenario: ${{ matrix.test_scenario }}
          platform: ${{ matrix.platform }}
        env:
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_SHA: ${{ github.sha }}
