name: go mod tidy
on:
  merge_group:
  pull_request:

jobs:
  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"
      - name: run make go-mod-tidy
        run: make go-mod-tidy
      - name: Check clean repository
        run: make check-clean-work-tree
