name: golangci-lint
on:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    strategy:
      matrix:
        modules: [common, k8sutils, profiles, destinations, procdiscovery]
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
          working-directory: ${{ matrix.modules }}
