name: Release Odigos CLI

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag"
        required: true

  repository_dispatch:
    types: [release_cli]

permissions:
  contents: write
  packages: write

env:
  DOCKERHUB_ORG: "keyval"

jobs:
  release:
    runs-on:
      labels: ubuntu-latest
    steps:

      - name: Determine Tag Value
        id: set_tag
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "repository_dispatch" ]; then
            echo "TAG=${{ github.event.client_payload.tag }}" >> $GITHUB_OUTPUT
          else
            echo "Unknown event type"
            exit 1
          fi

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ steps.set_tag.outputs.tag }}

      - name: Set env
        id: vars
        run: |
          SHORT_COMMIT=$(git rev-parse --short HEAD)
          echo "short_commit=${SHORT_COMMIT}" >> $GITHUB_ENV
          echo "date=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_OUTPUT

      - name: Notify Slack Start
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ODIGOS_RELEASE_STATUS_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"description":"Starting Odigos CLI release", "tag":"${{ steps.set_tag.outputs.tag }}"}' ${{ env.SLACK_WEBHOOK_URL }}

      - name: Verify Components Image Ready
        run: |
          declare -a REPOS=("odigos-autoscaler" "odigos-scheduler" "odigos-instrumentor" "odigos-odiglet" "odigos-collector" "odigos-enterprise-odiglet")
          TAG_TO_CHECK=${{ steps.set_tag.outputs.tag }}

          for REPO in "${REPOS[@]}"; do
            echo "Checking tag $TAG_TO_CHECK in $REPO..."
            TAGS_JSON=$(curl -s "https://hub.docker.com/v2/repositories/${{ env.DOCKERHUB_ORG }}/$REPO/tags/")
            if echo "$TAGS_JSON" | grep -q "\"name\":\"$TAG_TO_CHECK\""; then
                echo "Tag $TAG_TO_CHECK exists in Docker Hub repository $REPO."
            else
                echo "Tag $TAG_TO_CHECK does not exist in Docker Hub repository $REPO."
                exit 1
            fi
          done

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}

      - name: Trigger Release PR in Odigos Charts
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.RELEASE_BOT_TOKEN }}" \
            https://api.github.com/repos/odigos-io/odigos-charts/dispatches \
            -d '{"event_type": "create_release_pr", "client_payload": {"tag": "${{ steps.set_tag.outputs.tag }}"}}'


      - uses: ko-build/setup-ko@v0.7

      - name: publish cli image to docker registries
        working-directory: ./cli
        env:
          KO_DOCKER_REPO: ${{ env.DOCKERHUB_ORG }}/odigos-cli
          KO_CONFIG_PATH: ./.ko.yaml
          VERSION: ${{ steps.set_tag.outputs.tag }}
          SHORT_COMMIT: ${{ steps.vars.outputs.short_commit }}
          DATE: ${{ steps.vars.outputs.date }}
        run: |
          ko build --bare --tags latest --tags ${{ steps.set_tag.outputs.tag }} --platform=all .

      - name: Notify Slack End
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ODIGOS_RELEASE_STATUS_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"description":"Odigos CLI released successfully. new version is ready", "tag":"${{ steps.set_tag.outputs.tag }}"}' ${{ env.SLACK_WEBHOOK_URL }}

      - name: Notify Slack on Failure
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ODIGOS_RELEASE_STATUS_WEBHOOK_URL }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"link":"https://github.com/${{ env.GITHUB_REPOSITORY }}/actions/runs/${{ env.GITHUB_RUN_ID }}", "description":"ERROR: failed to publish odigos CLI", "tag":"${{ steps.set_tag.outputs.tag }}"}' ${{ env.SLACK_WEBHOOK_URL }}
