name: Release Please

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-job:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Release with release-please
        uses: google-github-actions/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_BOT_TOKEN }}
